body{
    background-color: cadetblue;

}
.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;    
    align-items:center ;
    
}
.nav ul li{
    float: left;
    align-items: center;    
}
.navbar ul li a{
    display: block;
    padding: 4px;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 4px 36px;
    text-decoration: none;
    float: left;
    font-size: medium;
    align-items: center;
}
.navbar ul li a:hover{
    background-color: gray;
    color: blue;
}
